<template>
  <div>
    <b-button v-b-modal.modal-product variant="primary">เพิ่มสินค้า</b-button>
    <b-modal
      id="modal-product"
      ref="modalProduct"
      title="สินค้า"
      @show="resetModal"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <b-form @submit.stop.prevent="onSubmit" @reset.prevent="onReset">
        <b-form-group
          id="form-group-product-name"
          label="ชื่อสินค้า"
          label-for="product-name"
        >
          <b-form-input
            type="text"
            id="product-name"
            placeholder="ชื่อสินค้า Iphone XIV"
            v-model="form.name"
            :state="validateName"
            autofocus
          ></b-form-input>
          <b-form-invalid-feedback :state="validateName">
            ชื่อสินค้าต้องมีความยาวอย่างน้อย 3 ตัวอักษร
          </b-form-invalid-feedback>
        </b-form-group>
        <b-form-group
          id="form-group-product-price"
          label="ราคาสินค้า"
          label-for="product-price"
        >
          <b-form-input
            type="number"
            id="product-price"
            placeholder="ราคา 9350.00"
            v-model="form.price"
            :state="validatePrice"
          ></b-form-input>
          <b-form-invalid-feedback :state="validatePrice">
            ราคาชื่อสินค้าต้องไม่ต่ำกว่า 0.00
          </b-form-invalid-feedback>
        </b-form-group>
      </b-form>
      <b-card>
        <pre>
        {{ form }}
      </pre
        >
      </b-card>
    </b-modal>
  </div>
</template>

<script>
export default {
  data () {
    return {
      form: {
        id: -1,
        name: '',
        price: 0
      }
    }
  },
  computed: {
    validateName () {
      return this.form.name.length >= 3
    },
    validatePrice () {
      return this.form.price !== '' && this.form.price >= 0
    },
    validateForm () {
      return this.validateName && this.validatePrice
    }
  },
  methods: {
    onSubmit () {
      if (this.validateName && this.validatePrice) {
        alert(JSON.stringify(this.form))
      }
    },
    onReset () {
      this.form.id = -1
      this.form.name = ''
      this.form.price = '0'
      this.show = false
      this.$nextTick(() => {
        this.show = true
      })
    },
    resetModal (evt) {
      this.onReset()
    },
    handleOk (evt) {
      evt.preventDefault()
      if (!this.validateForm) return
      this.onSubmit()
      this.$nextTick(() => {
        this.$bvModal.hide('modal-product')
      }
      )
    }
  }
}
</script>
